a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_1364a63e a { text-decoration: none; }
#menu_1364a63e_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; border-radius: 6px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1364a63e_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_1364a63e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1364a63e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1364a63e_entry:hover span { color:#FFFFFF !important; }
		.menu_1364a63e_mainMenuEntry { text-align: center; }
		#menu_1364a63e .mobileEntry { display: none; } 
		#menu_1364a63e .normalEntry { display: block; } 
		@media only screen and (max-width:900px) { 
			#menu_1364a63e .mobileEntry { display: block; } 
			#menu_1364a63e .normalEntry { display: none; } 
		}
body { background-color:#F3F3F5; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3fe39059 { box-sizing: border-box; vertical-align: top; border-radius: 30px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:90%; min-height:63px; background-color:#4F0300; border: 1px solid #E6E6E6; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.117647);  }
#container_3fe39059_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_5849ad7a { vertical-align: top; position:relative; display: inline-block; width:46%; min-height:33px; background:none;  }
#button_1fb547d3 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:212px; height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_638ba834 { vertical-align: top; position:relative; display: inline-block; width:54%; min-height:40px; background:none;  }
.textstyle4 { text-align:right; }
#menu_1364a63e { vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; width:300px; height:39px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:30px; height:39px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle2 { position:absolute; width:73px; height:39px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:77px; height:39px; left:83px;  }
.menustyle4 { position:absolute; width:73px; height:39px; left:160px;  }
.menustyle5 { position:absolute; width:65px; height:39px; left:233px;  }
.menustyle6 { position:absolute; width:30px; height:39px; left:40px;  }
.menustyle7 { position:absolute; width:30px; height:39px; left:70px;  }
.menustyle8 { position:absolute; width:36px; height:39px; left:100px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#404040; font-weight:bold;  white-space: nowrap; }
#container_7b016bd8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none;  }
#container_7b016bd8_padding { margin: 10px; display: block;  }
#video_203c19b5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#FFFFFF; border: 1px solid #FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_4cea8074 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:267px; height:102px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
.textstyle9 { font-size:26pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_7483db53 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:267px; height:102px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_6daea329 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:267px; height:102px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#button_7dbed0a6 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:267px; height:102px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
#shapedivider_554fe58f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:61px; background:none;  }
#shapedivider_554fe58f_padding { margin: 10px; display: block; position: relative;  }
#container_47d39fd6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:436px; background-color:#380303;  }
#container_47d39fd6_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_2b1b164e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_2b1b164e_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle13 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
.textstyle14 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#C4C4C4;  }
#container_7b662bd8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:135px; background:none;  }
#container_7b662bd8_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 900px)
{
		#menu_1364a63e { width:150px;  }
}
