a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_4a18a4b3 a { text-decoration: none; }
#menu_4a18a4b3_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; border-radius: 6px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4a18a4b3_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_4a18a4b3_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4a18a4b3_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4a18a4b3_entry:hover span { color:#FFFFFF !important; }
		.menu_4a18a4b3_mainMenuEntry { text-align: center; }
		#menu_4a18a4b3 .mobileEntry { display: none; } 
		#menu_4a18a4b3 .normalEntry { display: block; } 
		@media only screen and (max-width:900px) { 
			#menu_4a18a4b3 .mobileEntry { display: block; } 
			#menu_4a18a4b3 .normalEntry { display: none; } 
		}
body { background-color:#F3F3F5; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_59ecbc94 { box-sizing: border-box; vertical-align: top; border-radius: 30px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:90%; min-height:63px; background-color:#4F0300; border: 1px solid #E6E6E6; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.117647);  }
#container_59ecbc94_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_5273b263 { vertical-align: top; position:relative; display: inline-block; width:46%; min-height:33px; background:none;  }
#button_7ec2b6a7 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:212px; height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_a72823 { vertical-align: top; position:relative; display: inline-block; width:54%; min-height:40px; background:none;  }
.textstyle4 { text-align:right; }
#menu_4a18a4b3 { vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; width:300px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:30px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle2 { position:absolute; width:73px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:77px; height:38px; left:83px;  }
.menustyle4 { position:absolute; width:73px; height:38px; left:160px;  }
.menustyle5 { position:absolute; width:65px; height:38px; left:233px;  }
.menustyle6 { position:absolute; width:30px; height:38px; left:40px;  }
.menustyle7 { position:absolute; width:30px; height:38px; left:70px;  }
.menustyle8 { position:absolute; width:36px; height:38px; left:100px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#404040; font-weight:bold;  white-space: nowrap; }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#404040; font-weight:bold;  white-space: nowrap; }
#container_6c5a1430 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background:none;  }
#container_6c5a1430_padding { margin: 10px; display: block;  }
#video_2204bb82 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#FFFFFF; border: 1px solid #FFFFFF;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5ed3bce5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:172px; background:none;  }
#container_5ed3bce5_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:11pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#800040; font-weight:bold;  }
.textstyle11 { font-size:11pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#410BFF; font-weight:bold;  }
.textstyle12 { font-size:11pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#8B0A0A; font-weight:bold;  }
.textstyle13 { font-size:22pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#000000;  }
#container_7d92a935 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:196px; background:none;  }
#container_7d92a935_padding { margin: 10px; display: block;  }
#img_29bb303b { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#container_67d764eb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_67d764eb_padding { margin: 10px; display: block;  }
#button_262538db { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:267px; height:102px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
.textstyle14 { font-size:26pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF; font-weight:bold;  }
#shapedivider_7269154c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:61px; background:none;  }
#shapedivider_7269154c_padding { margin: 10px; display: block; position: relative;  }
#container_68c2888d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:436px; background-color:#380303;  }
#container_68c2888d_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_2788e5d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_2788e5d1_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle17 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle18 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
.textstyle19 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#C4C4C4;  }
#container_3072f033 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:135px; background:none;  }
#container_3072f033_padding { margin: 10px; display: block;  }
.textstyle20 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 900px)
{
		#menu_4a18a4b3 { width:150px;  }
}
